<header class="site-header">
  <div class="header-wrapper">
    <div class="site-name">
      <a href="/" title="Return to home page">CSE Motors</a>
    </div>
    <!-- <div class="tools">
      <a href="/login" title="Click to log in">My Account</a>
    </div>
  </div> -->
</header>
