<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Motors</title>

  <!-- Link to external CSS -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <main>
    <div class="container">

      <h1>Welcome to CSE Motors!</h1>

      <!-- Hero Section -->
      <section class="hero">
        <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean" class="hero-image"/>
        <div class="hero-overlay">
          <h2>DMC DeLorean</h2>
          <ul class="features">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
          </ul>
          <button class="cta-btn">Own Today</button>
        </div>
      </section>

      <!-- Feature Wrapper -->
      <div class="feature-wrapper">

        <!-- Upgrades -->
        <section class="upgrades">
          <h3>Delorean Upgrades</h3>
          <div class="upgrade-item">
            <figure class="upgrade-link">
              <a href="/images/upgrades/flux-cap.png">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
                <figcaption>Flux Capacitor</figcaption>
              </a>
            </figure>
            <figure class="upgrade-link">
              <a href="/images/upgrades/flame.jpg">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
                <figcaption>Flame Decals</figcaption>
              </a>
            </figure>
            <figure class="upgrade-link">
              <a href="/images/upgrades/bumper_sticker.jpg">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
                <figcaption>Bumper Stickers</figcaption>
              </a>
            </figure>
            <figure class="upgrade-link">
              <a href="/images/upgrades/hub-cap.jpg">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
                <figcaption>Hub Caps</figcaption>
              </a>
            </figure>
          </div>
        </section>

        <!-- Reviews -->
        <section class="reviews">
          <h3>DMC Delorean Reviews</h3>
          <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
          </ul>
        </section>

      </div>
    </div>
  </main>

</body>
</html>
