<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.locals.title = "Vehicle Details"
} %>

<a href="/inv/type/<%= classificationId %>" class="back-link">← Back to Inventory</a>

<%- detailHTML %>