<% if (title) { %>
  <h1 class="detail-title"><%= title %></h1>
<% } else { 
  res.locals.title = "Vehicle Details"
} %>

<p class="back-message">
  You can <a href="/inv/type/<%= classificationId %>" class="back-link">return</a> back to the previous page.
</p>

<%- detailHTML %>